.replace__btn {
  background: linear-gradient(180deg, #9B7EFA 0%, #7E5AE1 100%);
  border-radius: 15px;
  border: none;
  color: #fff;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 16px;
  margin-top: auto;
  cursor: pointer;
}