*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #F5F5F5;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
